@charset "UTF-8";
@font-face {
  font-family: 'bariol_regular';
  src: url("../fonts/bariol_regular-webfont.eot");
  src: url("../fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bariol_regular-webfont.woff2") format("woff2"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes glideDown {
  from {
    -webkit-transform: translateY(20px); }
  to {
    -webkit-transform: translateY(0); } }

@-moz-keyframes glideDown {
  from {
    -moz-transform: translateY(20px); }
  to {
    -moz-transform: translateY(0); } }

@keyframes glideDown {
  from {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: "Bariol_Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #999;
  font-weight: normal; }

h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: 900; }

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 100; }

header#header {
  text-align: center;
  background: #1b1e25;
  padding: 48px 0 55px 0;
  height: 100%; }
  header#header h1 {
    color: #fff;
    letter-spacing: 5px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px; }
  header#header h2 {
    font-size: 15px;
    color: #9f9f9f;
    font-family: "Bariol_Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0 0 0;
    font-weight: normal; }

section#intro {
  padding: 8vh 0; }
  section#intro .column {
    max-width: 630px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  section#intro p {
    font-size: 18px;
    line-height: 2;
    color: #999;
    padding-bottom: 25px;
    text-align: center; }
  section#intro a {
    color: #ccc;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px; }
  section#intro a.link-focus:hover {
    color: #fe4444;
    border-color: #fe4444; }

ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  ul.social li {
    padding: 0;
    display: inline-block;
    vertical-align: top; }
    ul.social li a {
      display: block;
      width: 70px;
      height: 70px;
      text-indent: -9999px;
      border: none !important;
      font-size: 14px;
      text-align: center; }
    ul.social li a:hover {
      background: transparent !important;
      text-indent: 0; }
    ul.social li a:hover img {
      height: 35px !important;
      margin-bottom: 20px; }
  ul.social li.link-github a {
    background: url(/images/github.svg) no-repeat center 0px;
    background-size: 30px;
    color: #666 !important; }
  ul.social li.link-linkedin a {
    background: url(/images/linkedin.svg) no-repeat center 0px;
    background-size: 30px;
    color: #0976b4 !important; }
  ul.social li.link-twitter a {
    background: url(/images/twitter.svg) no-repeat center 0px;
    background-size: 35px;
    color: #28aae1 !important; }
  ul.social li.link-medium a {
    background: url(/images/medium.svg) no-repeat center 0px;
    background-size: 30px;
    color: #000 !important; }
  ul.social li.link-mail a {
    background: url(/images/mail.svg) no-repeat center 0px;
    background-size: 30px;
    color: #dd4951 !important; }

section#contact {
  background: #f2f2f2;
  text-align: center;
  padding: 90px 15px; }
  section#contact h3 {
    font-size: 24px; }
  section#contact .btn {
    display: inline-block;
    background: #5ecbeb;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    padding: 12px 35px;
    color: #fff;
    box-shadow: 0 3px 1px #4bb5d4; }
    section#contact .btn img {
      width: 26px;
      margin-right: 15px;
      vertical-align: top; }
  section#contact .btn:hover {
    background: #07c2f9;
    box-shadow: 0 3px 1px #07a5d3; }

footer#footer {
  background: #2b2b2b;
  text-align: center;
  padding: 65px 0 90px 0; }
  footer#footer p {
    font-size: 15px;
    color: #5e5e5e; }
  footer#footer p a {
    font-family: "Bariol_bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5e5e5e;
    border-bottom: 1px dotted #5e5e5e;
    padding-bottom: 3px; }

.cube,
.half1,
.half2,
.container,
.side {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#cubeContainer {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  overflow: hidden;
  margin: 2em auto;
  -webkit-perspective: 40000px;
  -moz-perspective: 40000px;
  perspective: 40000px; }

.cube {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  left: -6em;
  width: 500px;
  height: 500px;
  -webkit-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -moz-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -ms-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -o-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: cube 5s forwards infinite;
  -moz-animation: cube 5s forwards infinite;
  animation: cube 5s forwards infinite;
  -webkit-animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9);
  animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9); }

.half1 {
  height: 100px;
  top: 0;
  position: absolute;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.side {
  width: 100px;
  height: 100px;
  border: 3px solid #ecf0f1;
  background: transparent;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box; }

.s1 {
  top: 0;
  left: 200px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

.s2 {
  top: 100px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

.s3 {
  top: 200px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

.s4 {
  top: 300px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg); }

.s5 {
  left: 100px;
  top: 100px;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.s6 {
  left: 300px;
  top: 200px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg); }

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }

@-moz-keyframes cube {
  0% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }

@keyframes cube {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }

section#projects {
  font-family: "Bariol_Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f9f9f9; }
  section#projects > .title {
    color: #222;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 0px; }
  section#projects .cardLayout {
    position: relative;
    text-align: center;
    padding: 0; }
    section#projects .cardLayout .card {
      display: inline-block;
      margin: 30px;
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      -webkit-transition: -webkit-transform 200ms;
      transition: transform 200ms;
      background-color: red; }
    section#projects .cardLayout .card:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    section#projects .cardLayout .card .photo {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      margin: auto;
      width: 140px; }
    section#projects .cardLayout .card .textArea {
      position: absolute;
      background-color: #e60000;
      bottom: 0;
      width: 100%;
      text-align: left; }
      section#projects .cardLayout .card .textArea .title {
        font-size: 16px;
        font-weight: 700;
        -webkit-transition: color 200ms;
        transition: color 200ms;
        margin-left: 10px; }
      section#projects .cardLayout .card .textArea .title:after {
        content: '»'; }
      section#projects .cardLayout .card .textArea .description {
        font-size: 14px;
        line-height: 1.5;
        margin: 0 10px 10px 10px; }

@media all and (max-width: 600px) {
  header#header {
    text-align: center;
    background: #1b1e25;
    padding: 35px 0 35px 0; }
  header#header h1 {
    font-size: 26px;
    letter-spacing: 5px; }
  section#intro {
    padding: 25px 0 25px 0; }
  section#intro p {
    font-size: 16px;
    line-height: 1.8;
    color: #999; }
  section.clients p {
    font-size: 16px;
    line-height: 1.8;
    text-align: left; }
  ul.social {
    list-style: none;
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center; }
  ul.social li {
    margin: 0; }
  ul.social li a {
    width: 50px; }
  footer#footer ul.social {
    display: none; }
  #cubeContainer {
    width: 300px;
    height: 300px; }
  .cube {
    left: -8.5em;
    top: -1.5em; } }

@media all and (min-width: 1000px) {
  section#projects > .title {
    opacity: 0; }
  section#projects .cardLayout .card {
    opacity: 0; }
  section#projects.show > .title {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 0ms, 0ms;
    animation-delay: 0ms, 0ms; }
  section#projects.show .cardLayout > a:nth-child(0) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 200ms, 200ms;
    animation-delay: 200ms, 200ms; }
  section#projects.show .cardLayout > a:nth-child(1) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 350ms, 350ms;
    animation-delay: 350ms, 350ms; }
  section#projects.show .cardLayout > a:nth-child(2) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 500ms, 500ms;
    animation-delay: 500ms, 500ms; }
  section#projects.show .cardLayout > a:nth-child(3) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 650ms, 650ms;
    animation-delay: 650ms, 650ms; }
  section#projects.show .cardLayout > a:nth-child(4) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 800ms, 800ms;
    animation-delay: 800ms, 800ms; }
  section#projects.show .cardLayout > a:nth-child(5) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 950ms, 950ms;
    animation-delay: 950ms, 950ms; }
  section#projects.show .cardLayout > a:nth-child(6) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 1100ms, 1100ms;
    animation-delay: 1100ms, 1100ms; }
  section#projects.show .cardLayout > a:nth-child(7) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 1250ms, 1250ms;
    animation-delay: 1250ms, 1250ms; }
  section#projects.show .cardLayout > a:nth-child(8) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 1400ms, 1400ms;
    animation-delay: 1400ms, 1400ms; }
  section#projects.show .cardLayout > a:nth-child(9) .card {
    -webkit-animation-name: fadein, glideDown;
    -moz-animation-name: fadein, glideDown;
    animation-name: fadein, glideDown;
    -webkit-animation-duration: 1s, 1s;
    -moz-animation-duration: 1s, 1s;
    animation-duration: 1s, 1s;
    -webkit-animation-timing-function: ease-out, ease-out;
    -moz-animation-timing-function: ease-out, ease-out;
    animation-timing-function: ease-out, ease-out;
    -webkit-animation-fill-mode: forwards, none;
    -moz-animation-fill-mode: forwards, none;
    animation-fill-mode: forwards, none;
    -webkit-animation-delay: 1550ms, 1550ms;
    animation-delay: 1550ms, 1550ms; } }

@media not all and (min-width: 1000px) {
  section#projects .cardLayout .card {
    margin: 15px 30px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px); } }

@media all and (min-width: 600px) {
  section#projects .cardLayout .card {
    width: 300px;
    margin: 30px; } }

section#projects .cardLayout {
  max-width: 1200px;
  display: block;
  margin: auto; }
  section#projects .cardLayout .card#snapscan {
    background-color: #df7065; }
    section#projects .cardLayout .card#snapscan .textArea {
      background-color: #d9574a; }
  section#projects .cardLayout .card#yorss {
    background-color: #9958b4; }
    section#projects .cardLayout .card#yorss .textArea {
      background-color: #803F9B; }
    section#projects .cardLayout .card#yorss .photo {
      top: 70px; }
  section#projects .cardLayout .card#myopong {
    background-color: #1de9c5; }
    section#projects .cardLayout .card#myopong .textArea {
      background-color: #15d7b5; }
  section#projects .cardLayout .card#livecode {
    background-color: #15bcdd; }
    section#projects .cardLayout .card#livecode .textArea {
      background-color: #13a9c7; }
    section#projects .cardLayout .card#livecode .photo {
      width: 200px;
      top: 80px; }
  section#projects .cardLayout .card#graphics3d {
    background-color: #ff5057; }
    section#projects .cardLayout .card#graphics3d .textArea {
      background-color: #ff2f37; }
  section#projects .cardLayout .card#colorchase {
    background-color: #fed156; }
    section#projects .cardLayout .card#colorchase .textArea {
      background-color: #fec834; }
    section#projects .cardLayout .card#colorchase .photo {
      width: 120px;
      top: 65px; }
  section#projects .cardLayout .card#headlights {
    background-color: #111; }
    section#projects .cardLayout .card#headlights .textArea {
      background-color: #0f0f0f; }
  section#projects .cardLayout .card#bttonco {
    background-color: #45101b; }
    section#projects .cardLayout .card#bttonco .textArea {
      background-color: #3e0e18; }
    section#projects .cardLayout .card#bttonco .photo {
      width: 120px; }

.explore {
  display: inline-block;
  font-size: 26px;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0 20px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }
  .explore:hover {
    border-color: #1abc9c;
    color: #1abc9c; }
